<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GATES" connectionString="Server=LAPTOP-41KGUQ1E\SQLEXPRESS24;User id=sa;Password=sasa;Database=dbInventories;Trusted_Connection=false;TrustServerCertificate=true;"/>
		<!--<add name="GATES" connectionString="Server=LCCKY-BOY\SQL24;User id=sa;Password=sasa;Database=dbInventories;Trusted_Connection=false;TrustServerCertificate=true;"/>-->
		<!--<add name="GATES" connectionString="Server=LAPTOP-UTGSLK27\SQLEXPRESS;Database=Gates;Trusted_Connection=true;TrustServerCertificate=true;"/>-->
	</connectionStrings>
</configuration>